@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.is-style-bg_stripe {
  background: linear-gradient(-45deg,transparent 25%,rgba(200,200,200,.15) 25%,rgba(200,200,200,.15) 50%,transparent 50%,transparent 75%,rgba(200,200,200,.15) 75%,rgba(200,200,200,.15));
  background-clip: padding-box;
  background-size: 6px 6px;
  padding: var(--swl-box_padding);
  position: relative;
}